.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 25%;
  padding: 8px;
  margin-right: 1em;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  background: #ff9f0d;
  font-family: Inter, sans-serif;
  font-size: 1vw;
  border-radius: 5px;
}

.searchLogo {
  height: 2em;
  width: 2em;
}
